{% extends 'nav.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">HTML Challenges</h2>
    <div class="row">
        {% for problem in problems %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ problem.title }}</h5>
                    <p class="card-text">{{ problem.description }}</p>
                    <a href="{% url 'solve_html_problem' problem.id %}" class="btn btn-primary">Solve Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
